<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" />
        <title><%= title %></title>
        </head>
        <body>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/zac">Zac</a></li>
                <li><a href="/dad">Dad</a></li>
                <li><a href="/mom">Mom</a></li>
                <li><a href="/brother">Brother</a></li>
            </ul>
        </nav>